*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
:active {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: Roboto, "Courier New", Courier, monospace;
  font-size: 10px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.header-banner {
  min-height: 300px;
  background-image: url("../images/header-banner.jpeg");
  background-position: center;
  background-size: cover;
}
.header-bg {
  background-color: #008fa1;
  padding: 2rem 0;
}
.header-nav {
  min-height: 5rem;
  display: flex;
  align-items: center;
}
.header-nav__logo {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.3rem;
}
.header-nav__menu {
  display: none;
}
.header-nav__items {
  color: #dfe6e9;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  padding-left: 5rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.header-nav__items-item {
  align-self: flex-end;
  position: relative;
  padding: 0.6rem 2rem;
  transition: all 0.3s;
}
.header-nav__items-item:not(:last-child) {
  border-right: #dfe6e9 1px solid;
}
.header-nav__items-item:hover {
  cursor: pointer;
  background-color: #ec6662;
  color: #ffffff;
}

.main-home {
  min-height: 50rem;
}
.main-home .two-column__one {
  position: relative;
  background-image: url("../images/banner.jpeg");
  background-position: center;
  background-size: cover;
}
.main-home .two-column__two {
  padding: 2rem;
  color: #242424;
}
.main-home .two-column__two h2 {
  text-align: center;
  letter-spacing: 0.5rem;
}
.main-home .two-column__two .box {
  padding: 1rem;
}
.main-home .two-column__two .box-header {
  display: flex;
  align-items: center;
}
.main-home .two-column__two .box-header__title {
  padding: 0 2rem;
}
.main-home .two-column__two .box-header__title h4 {
  color: #00626e;
}
.main-home .two-column__two .box-header__title h6 {
  color: #717171;
}
.main-home .two-column__two .box-header .img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-home .two-column__two .box-header h3 {
  flex: 1;
  text-align: right;
  color: #717171;
}
.main-home .two-column__two .box-1 .img {
  background-image: url("../images/member-1.jpeg");
}
.main-home .two-column__two .box-2 .img {
  background-image: url("../images/member-2.jpeg");
}
.main-home .two-column__two .box-3 .img {
  background-image: url("../images/member-3.jpeg");
}
.main-home .two-column__two .box p {
  padding-left: 7rem;
}

.main-about {
  min-height: 50rem;
  color: #636e72;
}
.main-about h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
}
.main-about p {
  font-size: 1.5rem;
}
.main-about p:not(:last-child) {
  margin-bottom: 2rem;
}

.footer {
  background-color: #343434;
}
.footer .two-column {
  padding: 2rem 5rem;
}
.footer .two-column__one {
  display: flex;
  justify-content: center;
}
.footer .two-column__one ul {
  display: flex;
  list-style: none;
}
.footer .two-column__one ul li {
  padding: 0.5rem 2rem;
  position: relative;
  transition: ease-in 0.3s;
  color: #a3b7bf;
}
.footer .two-column__one ul li:not(:last-child) {
  border-right: 1px solid #636e72;
}
.footer .two-column__one ul li:hover {
  background-color: #ec6662;
  color: #dfe6e9;
  cursor: pointer;
}
.footer .two-column__two {
  display: flex;
  justify-content: center;
}

.two-column {
  display: flex;
  font-size: 1.6rem;
  color: #dfe6e9;
}
.two-column > * {
  flex: 1;
}

@media only screen and (max-width: 899px) {
  .header-bg {
    background-color: #00626e;
  }
  .header-nav {
    padding: 0 2rem;
    flex-direction: column;
  }
  .header-nav__logo {
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  .header-nav__items {
    justify-content: space-evenly;
    padding-left: 0;
    margin-bottom: 1rem;
  }
  .header-nav__items-item {
    padding: 0.6rem 1rem;
  }

  .two-column {
    flex-direction: column;
  }

  .main-home .two-column__one {
    min-height: 300px;
  }
  .main-home .two-column__two h2 {
    margin: 3rem 0;
  }
  .main-home .two-column__two .box-header h3 {
    font-size: 1.4rem;
  }

  .main-about {
    padding: 0 2rem;
    margin-bottom: 3rem;
  }

  .footer .two-column__one {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=main.css.map */